.game-board {
  &__layer {
    position: absolute;
  }
  &__btnSpin {
    border-radius: 50%;
    cursor: pointer;
    background: center no-repeat url('/img/btnSpin.png');
    &--disabled {
      background-image: url('/img/btnSpinD.png');
      cursor: not-allowed;
    }
  }
  &__select {
    display: flex;
    justify-content: space-around;

    &-item {
      width: auto;
      display: flex;
      margin: 0 2px;
      border-radius: 12px;

      &--active {
        border-color: aqua;
        outline: none;
      }
      &--disabled {
        cursor: not-allowed;
        img {
          filter: grayscale(1);
        }
      }
      img {
        max-width: 100%;
        max-height: 60px;
      }

    }
  }
}
