.game-board {
  &__layer {
    position: absolute;
  }
  &__btnSpin {
    border-radius: 50%;
    cursor: pointer;
    background: center no-repeat url('/img/btn-spin.png');
    &:active {
      box-shadow: 0 0 10px aqua;
    }
    &--disabled {
      background-image: url('/img/btn-spin-d.png');
      cursor: not-allowed;
      &:active {
        box-shadow: none;
      }
    }
  }
  &__select {
    display: flex;
    justify-content: space-around;

    &-item {
      width: auto;
      display: flex;
      margin: 0 2px;
      border-radius: 12px;
      outline: none;

      &--active {
        border-color: aqua;
        box-shadow: 0 0 10px aqua;
      }
      &--disabled {
        cursor: not-allowed;
        img {
          filter: grayscale(1);
        }
      }
      img {
        max-width: 100%;
        max-height: 60px;
      }

    }
  }
}
